<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vue Todo List</title>
	<meta charset="utf-8">
	<meta name="description" content="Vue Todo List">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="author" content="John Uberbacher">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/vue.min.js"></script>
</head>
<body>
	<div id="app" class="container">
		<h1>Vue To-do List</h1>
		<input type="text" v-model="todoText" placeholder="Enter new item..." />
		<button v-on:click="addTodo()" class="btn btn-primary btn-sm">Add</button>
		<ul>
			<li v-for="todo in todos">
				<div>
					<span>{{todo.text}}</span>
					<span class="remove" @click="removeTodo(todo)"></span>
				</div>
			</li>
		</ul>
	</div>
	<script src="js/script.js"></script>
</body>